
div{
    
    background-color: lightblue;
    color: antiquewhite;
    padding: 60px;
}

h1{
    color: green
    
}
h2{
    color:palevioletred
    
}
h3{
    color: orange
    
}